@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
	text-transform: uppercase;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
  color: white;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 15px;
	font-weight: bold;
}

span {
  font-style:normal;
  font-weight: lighter;
  font-size: 0.8rem;

}

p {
  font-style: italic;
}

.parraf{
	font-size: 1rem;
	line-height: 1.7em;
	font-weight: bold;
  color:  rgb(255, 144, 0);

}

#contenedor{  
display:grid;
grid-template-columns: 1fr 1fr;
align-items:center;
position:fixed;
width: 100%;
height: auto;
text-transform: uppercase;
background-color: rgb(0, 0, 0);
border-bottom: 1.5px solid rgb(255, 255, 255);
opacity: 0.5;
top: 0;
left: 0;
right: 0;
z-index: 1000;
}

#izquierda{
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
}

#derecha{
  display: grid;
  justify-self: right;
}




 ul {
	display: flex;
}
 ul li {
	list-style: none;
	padding: 20px 30px;
}
 ul li a {
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.fa-bars , .fa-arrow-right{
  font-weight: bold;
  font-size: 18px;
}

.fa-bars:hover{
  color:rgb(255, 144, 0);
  font-size: 25px;
  cursor: pointer;
}

.container2 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 100vh;
	height: 100vh;
	width: 100%;
}


#background-video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 100px;
	width: 80%;
	height: 100%;
	z-index: -1;
}


/* .column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
 */

/* .left {
	grid-column: 1;
	grid-row: 1;
	padding: 0px;
} */


/* .right {
	background-image:url(imagen/principal1.png);
	background-position: 2cm 70%;
    background-size: cover;
    background-repeat: no-repeat;
	grid-column: 2;
	grid-row: 1;
}


@media screen and (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
	}
	.left,
	.right {
		padding: 0 1rem;
	}

} */